@import "tailwindcss";

@plugin "@iconify/tailwind4";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}

@plugin "flyonui" {
   themes: soft --default
}

@import "../../node_modules/flyonui/variants.css";

@source "../../node_modules/flyonui/dist/index.js";

@layer utilities {
  .bg-main {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

